/* this is to override some of the jquery mobile settings
mostly with regard to the thumnails and popups*/

.ui-list-thumb{
	max-width: 6em;
	max-height:6em;
}


/* burger pop ups */
#vealBurger-popup, #baconBurger-popup, #chickenBurger-popup {
    width: 60%;
    left: 20%;
    right: 20%;
}

/* sandwich pop ups */

#eggCherrySandwich-popup, #eggCressSandwich-popup, #camenbertMangoSandwich-popup, #clubSandwich-popup{
	width: 60%;
    left: 20%;
    right: 20%;
}

/* snack pop ups */
#cupCakes-popup, #chocoDonut-popup, #macaron-popup, #hotJamDonut-popup{
	width: 60%;
    left: 20%;
    right: 20%;

}


/* beverages pop ups */

#coffee-popup, #tea-popup, #shake-popup{
	width: 60%;
    left: 20%;
    right: 20%;
}



