/* 
John Wilson 213160526 SIT313 Assignment 1 August 2015
this is to override some of the jquery mobile settings
mostly with regard to the thumnails and popups*/


.ui-listview .ui-li-has-thumb > .ui-btn > img:first-child{ /* tweak the default size of the thumbnails */
	max-width: 6em;
	max-height:6em;
	margin-left: 5px;
	margin-top: 8px;

}
#homepage.ui-page, #menupage.ui-page, #contactUsPage.ui-page, #reservationsPage.ui-page, #readFeedback.ui-page{
	background: url('../images/backgrounds/background-1.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size:100% 100%;

}
#homepage p, #reservationsPage p, #readFeedback p {
	max-width: 1000px; /* sets the max width of the text <p> tags on the homepage and reservationsPage */
}
.ui-listview{
	margin: 10px !important; /*set the default border on the listview */
	max-width: 1200px; /* set the max width on the listview */
}

.ui-listview li h3{
	margin: -0.45em 0px 0px 0.7em; /*adjust the margins for the h3 in a list */
}
.ui-listview li p{
	white-space: normal; /* stops overflow text being hidden */
	margin-bottom: -0.5em;
	margin-left: 1.5em;
}


/* burger pop ups */
#vealBurger-popup, #baconBurger-popup, #chickenBurger-popup, #chips-popup {
    width: 70%;
    left: 15%;
    right: 15%;

}

/* sandwich pop ups */

#eggCherrySandwich-popup, #eggCressSandwich-popup, #camenbertMangoSandwich-popup, #clubSandwich-popup{
	width: 70%;
    left: 15%;
    right: 15%;
}

/* snack pop ups */
#cupCakes-popup, #chocoDonut-popup, #macaron-popup, #hotJamDonut-popup{
	width: 70%;
    left: 15%;
    right: 15%;
}

/* beverages pop ups */

#coffee-popup, #tea-popup, #shake-popup{
	width: 70%;
    left: 15%;
    right: 15%;
}


#theFooter{ /* tweak the footer */
	font-weight: normal;
	font-size: smaller;
	color: #999999;
	text-align: center;


}
#ratingSpan{ /* make the stars gold and bigger */
	font-size: 150%;
	font-weight: bolder;
	color: gold;
}
#backLink{
	text-align: right;
	float: right;
	color: blue;
	margin-right: 20px;
	margin-top: 10px;
}
#infinity{
	/* control the font size for the infinity symbols */
	position: relative;
	top: 4px;
	font-size:180%;
	
}
#feedBackError{ /* to change the colour of the text etc */

	color: red;
	font-size: 170%;


}
#textOutput{ /* used for displaying error messages */
	font-size: 150%;
	border: 1px solid #999999;

}